#main {
    display: flex;
}

#top-content, #events {
    width: 380px;
}

.heading {
    margin: 10px 5px;
}

#top-content {
    border: 0.0625rem solid #dcdcdc;
    margin-right: 20px;
}

#latest-contributions {
    display: flex;
    border: 0.0625rem solid #dcdcdc;
}

#top-content ol,
#top-content table {
    padding-left: 22px;
    margin: 0;
    font-size: 13px;
}

#top-content ol li,
#top-content table tr {
    padding: 5px;
}

#events ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    font-size: 13px;
}

.time {
    font-size: 12px;
    font-style: italic;
}

.amount, .av {
    font-weight: bold;
}
