<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("style.css")">
        <script type='text/javascript' src='@routes.Assets.at("index.js")'></script>

        <link rel="stylesheet" href='@routes.Assets.at("jqvmap.min.css")' type="text/css" media="screen"/>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src='@routes.Assets.at("jquery.vmap.min.js")'></script>
        <script src='@routes.Assets.at("jquery.vmap.world.js")'></script>
    </head>

    <body>
        <div id="main">
            <div id="top-content">
                <h3 class="heading">RankIndex&trade; top performers</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Path</th>
                            <th>AV</th>
                            <th>Acqs</th>
                            <th>Pageviews</th>
                            <th>AV/1000</th>
                            <th>Acqs/1000</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="latest-contributions">
                <div id="events">
                    <h3 class="heading">Latest contributions</h3>
                    <ul></ul>
                </div>
                <div id="world-map" style="width: 800px; height: 550px"></div>
            </div>
        </div>
    </body>
</html>
