<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("style.css")">
        <script type='text/javascript' src='@routes.Assets.at("index.js")'></script>

        <link rel="stylesheet" href='@routes.Assets.at("jqvmap.min.css")' type="text/css" media="screen"/>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src='@routes.Assets.at("jquery.vmap.min.js")'></script>
        <script src='@routes.Assets.at("jquery.vmap.world.js")'></script>
    </head>

    <body>
        <div id="main">
            <div id="world-map" style="width: 900px; height: 600px"></div>
            <div id="events">
                <ul></ul>
            </div>
        </div>
    </body>
</html>
